In [1]:
import pandas as pd
import os

# Читаем текст из файлов в датафрейм

In [2]:
df = pd.DataFrame()

In [28]:
directory = 'C:\\Users\\murad\\Desktop\\projects\\aclImdb_v1\\aclImdb\\train\\neg'

for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    file = open(f, 'r', encoding='utf-8')
    df = pd.concat([df, pd.DataFrame([{'review': file.read(), 'score': filename.split('_')[1].split('.')[0]}])])
    file.close()

In [29]:
df

                                               review score
0   story man unnatural feelings pig starts openin...     3
1   airport 77 starts brand new luxury 747 plane l...     4
2   film lacked something couldnt put finger first...     4
3   sorry everyone know supposed art film wow hand...     1
4   little parents took along theater see interior...     1
..                                                ...   ...
0   Towards the end of the movie, I felt it was to...     4
0   This is the kind of movie that my enemies cont...     3
0   I saw 'Descent' last night at the Stockholm Fi...     3
0   Some films that you pick up for a pound turn o...     1
0   This is one of the dumbest films, I've ever se...     1

[37500 rows x 2 columns]

In [22]:
directory = 'C:\\Users\\murad\\Desktop\\projects\\aclImdb_v1\\aclImdb\\train\\pos'
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    file = open(f, 'r', encoding='utf-8')
    df = pd.concat([df, pd.DataFrame([{'review': file.read(), 'score': filename.split('_')[1].split('.')[0]}])])
    file.close()

In [23]:
df

                                               review score
0   Once again Mr. Costner has dragged out a movie...     2
0   This is an example of why the majority of acti...     4
0   First of all I hate those moronic rappers, who...     1
0   Not even the Beatles could write songs everyon...     3
0   Brass pictures (movies is not a fitting word f...     3
..                                                ...   ...
0   I was extraordinarily impressed by this film. ...     8
0   Although I'm not a golf fan, I attended a snea...    10
0   From the start of "The Edge Of Love", the view...     8
0   This movie, with all its complexity and subtle...    10
0   I've seen this story before but my kids haven'...     7

[25000 rows x 2 columns]

In [24]:
df.to_csv('C:\\Users\\murad\\Desktop\\projects\\aclImdb_v1\\reviews.csv', index=False)

# Очищаем датасет

In [39]:
df = pd.read_csv('C:\\Users\\murad\\Desktop\\projects\\aclImdb_v1\\test_reviews.csv')

In [40]:
df

                                                  review  score
0      Once again Mr. Costner has dragged out a movie...      2
1      This is an example of why the majority of acti...      4
2      First of all I hate those moronic rappers, who...      1
3      Not even the Beatles could write songs everyon...      3
4      Brass pictures (movies is not a fitting word f...      3
...                                                  ...    ...
24995  I was extraordinarily impressed by this film. ...      8
24996  Although I'm not a golf fan, I attended a snea...     10
24997  From the start of "The Edge Of Love", the view...      8
24998  This movie, with all its complexity and subtle...     10
24999  I've seen this story before but my kids haven'...      7

[25000 rows x 2 columns]

In [30]:
import nltk
from nltk.corpus import stopwords
import string

nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\murad\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [41]:
def remove_punctuation(text):
    '''Функция получает на вход предложение, удаляет пунктуацию и возвращает обратно'''
    no_punct=[words for words in text if words not in string.punctuation]
    words_wo_punct=''.join(no_punct)
    return words_wo_punct

def remove_stopwords(text):
    '''Функция получает на вход предложение, удаляет стоп слова и возвращает его обратно'''
    stopword = stopwords.words('english')
    words = text.split()
    ans = ''
    for word in words:
        if word not in stopword:
            ans += word + ' '
    
    return ans

def remove_br(text):
    return(text.replace('<br />', ' '))

Удаляем br /, пунктуацию, приводим к нижнему регистру, удаляем стоп слова

In [42]:
df['review']=df['review'].apply(lambda x: remove_br(x))

In [43]:
df['review']=df['review'].apply(lambda x: remove_punctuation(x))

In [44]:
df['review']=df['review'].apply(lambda x: x.lower())

In [45]:
df['review'] = df['review'].apply(lambda x: remove_stopwords(x))

In [49]:
df

                                                  review  score
0      mr costner dragged movie far longer necessary ...      2
1      example majority action films generic boring t...      4
2      first hate moronic rappers couldnt act gun pre...      1
3      even beatles could write songs everyone liked ...      3
4      brass pictures movies fitting word really some...      3
...                                                  ...    ...
24995  extraordinarily impressed film one best sports...      8
24996  although im golf fan attended sneak preview mo...     10
24997  start edge love viewer transported striking wo...      8
24998  movie complexity subtlety makes one thoughtpro...     10
24999  ive seen story kids havent boy troubled past j...      7

[25000 rows x 2 columns]

In [37]:
df.iloc[150]['review']

'watched movie starz let go things thought could improved acting writing directing special effects camera crew sound lighting also seemed though writers idea anything movie apparently back 2007 dollar stronger could buy super advanced stealth bomber could go completely invisible 75 million nowadays things cost 3 billion cant go invisible apparently fly us middle east hour completely random lesbian scene didnt mind seemed like lame attempt get guys see camera would randomly zoom actors skip random scenes oh yeah since steven segal movie predictable hell rank right snakes plane '

In [50]:
df.to_csv('C:\\Users\\murad\\Desktop\\projects\\aclImdb_v1\\test_reviews_proc.csv', index=False)